<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/error_page.css">
    <title>Login page</title>
</head>
<body>
    <div id="login_block">
        <div id="title_block">
            <div id="title_content">失敗頁面</div>
        </div>
        <div id="content_block">
            <div id="login_system_div">{{error_message}}</div>
        </div>
    </div>
</body>
</html>