<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/Error_page.css">
    <title>登入失敗頁面</title>
</head>
<body>
    <div id="login_block">
        <div id="title_block"><div id="title_content">正整數平方計算結果</div></div>
        <div id="content_block">
            <div id="error_system_div">{{Squared_Num}}</div>
            <div id="back_to_login_page"><a href="/">返回首頁</a></div>
        </div>
    </div>
</body>
</html>