<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/success_page.css">
    <title>Login page</title>
</head>
<body>
    <div id="login_block">
        <div id="title_block">
            <div id="title_content">歡迎光臨，這是會員頁</div>
        </div>
        <div id="content_block">
            <div id="login_system_div">恭喜您，成功登入系統</div>
            <div><a href="/logout" ></a></div>
        </div>
    </div>
</body>
</html>