<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/Success_page.css">
    <script src="/static/Success_page.js" defer></script>
    <title>會員頁面</title>
</head>
<body>
    <div id="title_block">
        <div id="title_content">歡迎光臨，這是會員頁</div>
    </div>
    <div class="content_block">
        <div id="login_system_div">{{name}}，歡迎登入系統</div>
        <div id="signout"><a href="/signout" >登出系統</a></div>
    </div>
    <div class="content_block">
        <div class="content_title">快來留言吧</div>
        <div id="message_input_div">
            <form id="message_input_form"action="/createMessage" method="post">
                <div id="message_input"><span class="text">內容</span><input type="text" name="message"></div>   
                <div class="button"><button class="submit_button" type="submit">送出</button></div>
            </form>
        </div>
    </div>
    <div class="message_content_block">
        <div id="message_input_div">
            {% for item in result %}
                <div class="message_item">
                    <div class="message_name">{{ item[0] }}</div>
                    <div class="message_content">{{ item[1] }}</div>
                    <div class="message_check">{{ item[2]|safe }}</div>
                    <div class="message_id">{{ item[3] }}</div>     
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="query_content_block">
        <div class="content_title">查詢會員姓名</div>
        <div id="query_username_input">
            <input type="text" name="query_username">
            <div class="button"><button class="submit_button" type="submit">查詢</button></div>
        </div>
        <div id="query_username_result"></div>   
    </div>
    <div class="updatename_content_block">
        <div class="content_title">更新我的姓名</div>
        <div id="update_myname_input">
            <input type="text" name="update_myname" placeholder="輸入新的姓名">
            <div class="button"><button class="submit_button" type="submit">更新</button></div>
        </div>
        <div id="update_username_result"></div>      
    </div>
</body>
</html>